<%= link_to 'Edit my Profile', edit_user_path(current_user.id) %>

<h1>My PlusOnes</h1>


<h2>Reviews</h2>

<p>Reviews for <%= @user.username %></p>

<% @user.user_reviews.each do |review| %>
  <p>
    <%= review.introvert %>
    <br>
    <% if review.user != nil %>
      <em> by <%= review.user.email %></em>
      Added on: <%= review.created_at %>
    <% end %>
  </p>
<% end %>


<% if current_user && current_user != @user %>
  <h4>New Review</h4>

  <%= form_for ([@user, @user_review]) do |f| %>
    <% if @user_review.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user_review.errors.count, "error") %> prohibited this review from being saved: </h2>
          <ul>
            <% @user_review.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :intovert %><br/>
      <%= f.text_area :introvert %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

  <% end %>

<% else %>
  <p>Please <%= link_to "Log In", new_session_path %> to add a review.</p>
<% end %>



