<div class="profile">
  <div class="profile-pic"><%= image_tag (@user.avatar_url(:desktop)), class: "profile-pic" %></div>


  <h1 class="name"><%= "#{@user.first_name.capitalize}" %></h1>


  <h2 class="event-counter"><%= @user.created_events.length %> Events</h2>
  <h2>Personality</h2><br>
  <p><%= @user.bio %></p>
  <p><%= @user.interests %></p>

  <div class="user-ratings">
  <ul>
    <% socialrating = @user.social_factor %>
    <li><p> Social Factor: <%= socialrating %> </p></li>

    <% posnegrating = @user.positivenegative %>
    <li><p> Positive Experience Rating: <%= posnegrating %></p></li>
  </ul>
  </div>


  <% if @user == current_user %>
    <div class="edit">
      <form method="link" action="<%= edit_user_path(current_user) %>">
        <input type="submit" value="Edit Profile">
      </form>
    </div>

   <% else %>
    <%= form_for @friendship do |f| %>
      <div class="friend">
        <%= f.submit "Add Friend" %>
      </div>
    <% end %>
  <% end %>
</div>