<div class="profile">
  <div class="profile-pic"><%= image_tag (@user.avatar_url(:mobile)), class: "profile-pic" %></div><hr>


  <h1 class="name"><%= "#{@user.first_name.capitalize}" %></h1>

  <h1><%= @user.created_events.length %> Events</h1>
  <h1>Personality</h1><br>
  <%= form_for @friendship do |f| %>
    <div class="friend">
      <%= f.submit "Add Friend" %>
  <% end %>
</div>