<div class="profile">
  <div class="header-background">
    <h1 class="heading-text"><%= @user.username %></h1>
  </div>
  <% if current_user == @user %>
    <%= link_to 'Edit my Profile', edit_user_path(current_user.id) %>
  <% else %>
  <% end %><hr>

  <div class="profile-pic"><%= image_tag (@user.avatar_url(:mobile)), class: "profile-pic" %></div>

  <h2>PlusOnes</h2>

  <% if @user.created_events == [] %>
    <p><%= @user.username %> has created no new events </p>
  <% else %>
    <p>These are the events that <%= @user.username %> has created:</p>
    <% @user.created_events.each do |created|%>
      <a href="<%= event_path(created) %>">
        <%= created.event_name %><br>
      </a>
    <% end %>
  <% end %><hr>

  <% if current_user == @user %>
    <h1>Invitations</h1>
      <% @user.created_events.each do |event| %>
        <% event.rsvps.each do|rsvp| %>
          <% if rsvp.status == "Pending" %>
            <a href="<%= user_path(@user) %>"><%= rsvp.user.username %></a> has requested to join <%= event.event_name %>
            <button id="accept">Accept></button>
            <button id="decline">Decline</button><br><br><br>
          <% elsif rsvp.status == "Accepted" %>
            <%= rsvp.user.username %> has been accepted into <%= event.event_name %>
          <% end %>
      <% end %>
    <% end %><hr>
  <% else %>
  <% end %>

  <h2>Reputation for <%= @user.username %></h2>

  <% if @user.reputations != nil %>
    <% @user.reputations.each do |rep| %>
      <p>
        <p>Introvert Rating:</p><%= rep.introvert %>
        <p>Extrovert Rating:</p><%= rep.extrovert %>
        <p>Positivity Rating:</p><%= rep.positive %>
        <p>Negativity Rating:</p><%= rep.negative %>
      <br>

    <% end %>
    <% else %>
    </p>
  <% end %>
  <hr>

  <% if current_user && current_user != @user %>
    <h4>New Reputation</h4>

    <%= form_for ([@user, @reputation]) do |f| %>

      <% if @reputation.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@reputation.errors.count, "error") %> prohibited this reputation from being saved: </h2>
            <ul>
              <% @reputation.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
        </div>
      <% end %>

      <div class="field">
        <div class="introvert">
        <p>Introvert</p>
          <p>1<%= f.radio_button :introvert, 1 %></p>
          <p>2<%= f.radio_button :introvert, 2 %></p>
          <p>3<%= f.radio_button :introvert, 3, checked: true %></p>
          <p>4<%= f.radio_button :introvert, 4 %></p>
        </div>

        <div class="extrovert">
          <p>Extrovert</p>
          <p>1<%= f.radio_button :extrovert, 1 %></p>
          <p>2<%= f.radio_button :extrovert, 2 %></p>
          <p>3<%= f.radio_button :extrovert, 3, checked: true %></p>
          <p>4<%= f.radio_button :extrovert, 4 %></p>
        </div>

        <div class="positive">
          <p>Positive Experience?</p>
          <p>1<%= f.radio_button :positive, 1 %></p>
          <p>2<%= f.radio_button :positive, 2 %></p>
          <p>3<%= f.radio_button :positive, 3, checked: true %></p>
          <p>4<%= f.radio_button :positive, 4 %></p>
        </div>

        <div class="negative">
          <p>Negative Experience?</p>
          <p>1<%= f.radio_button :negative, 1 %></p>
          <p>2<%= f.radio_button :negative, 2 %></p>
          <p>3<%= f.radio_button :negative, 3, checked: true %></p>
          <p>4<%= f.radio_button :negative, 4 %></p>
        </div>
      </div>
      <div class="submit-button">
        <%= f.submit %>
      </div>
    <% end %>

  <% elsif current_user != @user %>
    <p>Please <%= link_to "Log In", new_user_session_path %> to add a repuatation.</p>
  <% end %>


  <% if current_user == @user %>
    <div class="location-button">
      <button id="get_location" class="button">Find Events Near You</button>
    </div>

    <div class="map">
      <div class="user-map-canvas" data-latitude="<%= @user.latitude.to_f %>" data-longitude="<%= @user.longitude.to_f %>"></div>
    </div>
    <% end %>

    <% unless current_user %>
      <p>Please <%= link_to "Log In", new_user_session_path %> to start your own hangout.</p>
    <% end %>
</div>