
<%= link_to 'Edit my Profile', edit_user_path(current_user.id) %>

<h1>My PlusOnes</h1>

<p>These are the events that I have created.</p>

<% @user.events.each do |created|%>
  <%= created.event_name  %>
<% end %>


<h2>Reputation</h2>

<p>Reputation for <%= @user.username %></p>

<% @user.reputations.each do |rep| %>
  <p>
    <%= rep.introvert %>
    <br>
    <% if rep.user != nil %>
      <em> by <%= rep.user.email %></em>
      Added on: <%= rep.created_at %>
    <% end %>
  </p>
<% end %>


<% if current_user %>
  <h4>New Reputation</h4>

  <%= form_for ([@user, @reputation]) do |f| %>
    <% if @reputation.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@reputation.errors.count, "error") %> prohibited this reputation from being saved: </h2>
          <ul>
            <% @reputation.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :intovert %><br/>
      <%= f.text_area :introvert %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

<% else %>
  <p>Please <%= link_to "Log In", new_user_session_path %> to add a repuatation.</p>
<% end %>



