<%= form_for [@event, @review], remote: true do |f| %>
    <div class="comment">
      <h4><%= f.label :comment %></h4>
      <p><%= f.text_area :comment %></p>
    </div>

    <h4>How was your experience?</h4>
    <p>Very Unenjoyable <%= f.radio_button :star_rating, 1 %></p>
    <p>Unenjoyable <%= f.radio_button :star_rating, 2 %></p>
    <p>Average <%= f.radio_button :star_rating, 3, checked: true %></p>
    <p>Good <%= f.radio_button :star_rating, 4 %></p>
    <p>Great <%= f.radio_button :star_rating, 5 %></p>

    <p class="pop-up-submit">
      <%= f.submit "Submit" %>
    </p>
  <% end %>