  <div class="header-background">
    <h1 class="heading-text">Events</h1>
  </div>
<div class="event-container">
    <% form_tag events_path, method: :get do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search" %>
    </p>
  <% end %>

  <div class="event-wrapper">
    <div class="event">

      <% @events.each do |event| %>
        <div class="event-image-background">
        <a href="<%= event_path(event) %>">
          <%= image_tag (event.image_url(:mobile)) %>
          <h1><%= event.event_name %></h1>
          <h1><%= event.full_street_address %></h1>
        </a>
        </div>
        <hr>
      <% end %>

    </div>
  </div>
</div>
