<div class="header-background">
  <h1 class="heading-text">Events</h1>
</div>
  <% form_tag events_path, method: :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  </p>
<% end %>

<div class="event">
  <% @events.each do |event| %>
    <a href="<%= event_path(event) %>">
      <%= event.event_name %></br>
      <%= event.full_street_address %>
    </a>
    <hr>
  <% end %>
</div>
