<!-- Event details -->
<% if current_user %>
  <%= link_to "Edit", edit_event_path %>
<% end %>

<% @event.method_names.each do |method| %>
  <h2><%= method %></h2>
<% end %>

<%= form_for [@event, @rsvp] do |f| %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<div class="map-canvas" data-latitude="<%= @event.latitude.to_f %>" data-longitude="<%= @event.longitude.to_f %>"></div>

<!-- Event reviews -->
<h1>Reviews</h1>
<div id="review-form-errors">
  <%= render "review_errors" %>
</div>

<div class="new-review">
  <%= render "new_review" %>
</div>

<div class="reviews">
  <%= render "review" %>
</div>