<div class="main-wrapper">

  <!-- Event details -->
  <% if current_user == @event_user %>
    <%= link_to "Edit", edit_event_path %>
  <% end %>

    <div class="event-header-text">
      <ul>
        <% if @event.event_name %>
          <li><h1 class="card-title"><%= @event.event_name %></h1></li>
        <% end %>

        <% if @event.time %>
          <li><h1><%= @eventtime %></h1></li>
        <% end %>


        <% if @event %>
          <li><p><%= @event.description %></p></li>
        <% end %>

        <% if @event %>
          <li><p class="spots-left"><%= @event.number_of_attendees %> spots left</p></li>
        <% end %>

      </ul>
    </div>
  <!-- COUNTDOWN -->

  <div class="event-header-container">
    <%= image_tag (@event.image_url(:mobile)) %>
  </div>


      <% if @event.time >= DateTime.now %>
        <div class="countdown-wrapper">
          <h1>Time Until Event Begins:</h1><div class="countdown" data-date='<%= @event.time.strftime("%Y-%m-%d %H:%M:%S") %>'=> </div>
        </div>

      <% else %>
          <h1 class="event-alert">This event has already passed.</h1><div class="countdown-passed" data-date='<%= @event.time.strftime("%Y-%m-%d %H:%M:%S") %>'=> </div>
        </div>

      <% end %>


  <!-- Request To Join (POPUP) -->

    <div class="modal">
      <label for="modal-1">
        <div class="modal-trigger">Request to Join</div>
      </label>
      <input class="modal-state" id="modal-1" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-1"></div>
            <div class="avatars">
              <div class="profile-pic-modal"><%= image_tag (current_user.avatar_url(:mobile)), class: "popup-pic" %></div>
              <div class="profile-pic-modal"><%= image_tag (@user.avatar_url(:mobile)), class: "popup-pic" %></div>
            </div>
            <%= render 'request' %>
        </div>
      </div>
  </div>



  <!-- Map (POPUP) -->
    <div class="modal">

      <label for="modal-2">
        <div class="modal-trigger">View Map</div>
      </label>
      <input class="modal-state" id="modal-2" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-2"></div>
            <div class="map-container">
              <div class="map">
                <div class="event-map-canvas" data-latitude="<%= @event.latitude.to_f %>" data-longitude="<%= @event.longitude.to_f %>">
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>

  <!-- Add A Review (POPUP) -->

  <% if @event.time <= (DateTime.now + 1.hour) %>
    <div class="modal">
      <label for="modal-3">
        <div class="modal-trigger">Add a Review</div>
      </label>
      <input class="modal-state" id="modal-3" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-3"></div>
          <div class="new-review">
            <%= render "new_review" %>
          </div>
        </div>
      </div>
    </div>

  <!-- Event reviews -->

  <div class="reviews-wrapper">

    <div id="review-form-errors">
      <%= render "review_errors" %>
    </div>

    <div class="reviews">
      <%= render "review" %>
    </div>
  </div>
  <% end %>

</div>

