<!-- Event details -->
<% if current_user == @user %>
  <%= link_to "Edit", edit_event_path %>
<% end %>

<div class="event-header-container">
  <%= image_tag (@event.image_url(:mobile)) %>

  <div class="event-details">
    <% @event.method_names.each do |method| %>
      <h2><%= method %></h2>
    <% end %>
  </div>
</div>

<%= form_for [@event, @rsvp] do |f| %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<div class="map">
  <div class="event-map-canvas" data-latitude="<%= @event.latitude.to_f %>" data-longitude="<%= @event.longitude.to_f %>"></div>
</div>
<!-- Event reviews -->
<h1>Reviews</h1>
<div id="review-form-errors">
  <%= render "review_errors" %>
</div>

<div class="new-review">
  <%= render "new_review" %>
</div>

<div class="reviews">
  <%= render "review" %>
</div>