 <div class="front">
        <%= image_tag (@randomevent.image_url(:mobile)) %>
        <h1><%= @randomevent.event_name %></h1>
      </div>

      <div class="back">
        <ul>
          <% if @randomevent.event_name %>
            <li><h1 class="card-title"><%= @randomevent.event_name %></h1></li>
          <% end %>

          <% if @randomevent.time %>
            <li><h1><%= @eventtime %></h1></li>
          <% end %>

          <% if @randomevent %>
            <li><p><%= @randomevent.distance.round(2) %> kilometers away</p></li>
          <% end %>

          <% if @randomevent %>
            <li><p><%= @randomevent.description %></p></li>
          <% end %>

          <% if @randomevent %>
            <li><p class="spots-left"><%= @randomevent.number_of_attendees %> spots left</p></li>
          <% end %>

        </ul>

        <a href="<%= event_path(@randomevent) %>">
          <button>Details</button>
        </a>
      </div>

    </div>
    </div>