<% if @randomevent %>

  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">

      <div class="front">
        <%= image_tag (@randomevent.image_url(:mobile)) %>
        <h1><%= @randomevent.event_name %></h1>
      </div>

      <div class="back">
        <ul>
          <% if @randomevent.address_1 %>
            <li><h1><%= @randomevent.address_1 %></h1></li>
          <% end %>

          <% if @randomevent.address_2 %>
            <li><h1><%= @randomevent.address_2 %></h1></li>
          <% end %>

          <% if @randomevent.city %>
          <li><h1><%= @randomevent.city %></h1></li>
          <% end %>

          <% if @randomevent.time %>
            <li><h1><%= @randomevent.time %></h1></li>
          <% end %>
        </ul>

        <a href="<%= event_path(@randomevent) %>">
          <button>More Information</button>
        </a>
      </div>

    </div>
  </div>

 <% else %>

  <div class="welcome-text-box">
    <p class="welcome-text2">There currently aren't any events in your area.</p>
    <a href="/events/new"><button class="sign-up-buttons">START ONE NOW</button></a>
  </div>

<% end %>
