<div class="main">
  <div class="introduction">
    <h1>Welcome to PlusOne!</h1>
    <h2>Meet people and start networking!</h2>
    <div id="events" data-eventGeoData="<%= @nearby_events.to_json %>" ></div>
    <%= link_to 'Browse events in your area', events_path %><br>

    <% if current_user %>
      <%= link_to 'Make a New Event', new_event_path %>
    <% else %>
    <% end %>
  </div>

  <% if current_user %>
  <div class="location-button">
    <button id="get_location" class="button">Find Events Near You</button>
  </div>

  <div class="map">
    <div class="user-map-canvas" data-latitude="<%= @user.latitude.to_f %>" data-longitude="<%= @user.longitude.to_f %>"></div>
  </div>


  <div class="nearby-events">
    <h1> Nearby Events: </h1>

      <% @nearby_events.each do |ne| %>
        <li><%= "#{ne.event_name}, #{ne.distance}" %></li>
      <% end %>

    <h1> Nearby Users: </h1>
      <% @nearby_users.each do |ne| %>
        <li><%= "#{ne.username}, #{ne.distance}" %></li>
      <% end %>
  </div>

  <% elsif %>
    <p>Please <%= link_to "Log In", new_user_session_path %> to start your own hangout.</p>
  <% end %>
</div>