<div class="main">

  <!-- STATS -->
  <div class="stats">
    <ul>
      <% if current_user %>
      <li><%= Event.all.count %> <span>Global Events</span></li>
      <li><%= Event.near([current_user.latitude, current_user.longitude], 5).flatten.count %><span>Events Near You</span></li>
      <li><%= User.all.count %><span>Global Users</span></li>
      <li><%= User.near([current_user.latitude, current_user.longitude], 5).flatten.count %><span>Users Near You</span></li>

      <% else %>
      <li><%= Event.all.count %> <span>Global Events</span></li>
      <li><%= Event.near([request.location.latitude, request.location.longitude], 5).flatten.count %><span>Events Near You</span></li>
      <li><%= User.all.count %><span>Global Users</span></li>
      <li><%= User.near([request.location.latitude, request.location.longitude], 5).flatten.count %><span>Users Near You</span></li>

      <% end %>

    </ul>
  </div>

  <!-- Swipe Card for Logged In User -->
  <% if @randomevent %>
    <%= render "randomevent" %>
    <div class="random-button">
      <button class="animate-trigger">RANDOM EVENT</button>
    </div>


  <% else %>
  <!-- Clear nav on landing page alone -->
    <div class="introduction">

      <div class="welcome-text-box">
        <p class="welcome-text">PlusOne</p>
        <h2 class="welcome-text2">Meet like-minded people around<br>your area.</h2>
      </div>
      <div class="typed">
      <span class="element">Let's </span>
      </div>


      <a href="/users/new"><div class="pulse-button">+</div></a>

    <style>
    #nav {
      display: none;
    }
    .container {
      display: none;
    }
    </style>

    <div id="home-buttons">

      <a href="/login"><p class="sub-line">Already Have an Account?</p></a>
    </div>
<% end %>


<% if current_user %>



<!-- FLIP GRID -->
<div class="outer-container">
    <% @nearby_events.each do |event| %>
  <div id="f1_container">
    <div id="f1_card">
      <div class="front face">
        <h1><%= event.event_name %></h1>
        <%= image_tag (event.image_url(:mobile)) %>
      </div>
      <div class="back face center">
      <ul>
          <% if event.time %>
            <li><h1><%= event.time.strftime("%b %-d, %-l:%M%P") %></h1></li>
          <% end %>

          <% if event %>
            <li><p><%= event.distance.round(2) %> kilometers away</p></li>
          <% end %>

          <a href="<%= event_path(event) %>">
            <button>Details</button>
          </a>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<% end %>
</div>

