<div class="main">

    <% if current_user %>

  <!-- Swipe Card for Logged In User -->
  <div class="swipe-card-wrapper">
    <div class="event-card">
      <div class="event-card-image">
        <%= image_tag (@randomevent.image_url(:mobile)) %>
      </div>

      <div class="event-card-title">
        <h1><%= @randomevent.event_name %></h1>
      </div>

      <div class="event-card-info">
        <ul>

        <% if @randomevent.address_1 %>
          <li><p><%= @randomevent.address_1 %></p></li>
          <% else %>
        <% end %>

          <% if @randomevent.address_2 %>
            <li><p><%= @randomevent.address_2 %></p></li>
            <% else %>
        <% end %>

        <% if @randomevent.city %>
          <li><p><%= @randomevent.city %></p></li>
          <% else %>
        <% end %>


        <% if @randomevent.time %>
          <li><p><%= @randomevent.time %></p></li>
          <% else %>
        <% end %>
        </ul>
      </div>

    </div>
  </div>


<% elsif %>
<!-- Clear nav on landing page alone -->
  <div class="introduction">

    <div class="welcome-text-box">
      <p class="welcome-text">PlusOne</p><br>
      <p class="welcome-text2">Meet like-minded people around<br>your area.</p>
    </div>

    <div class="home-logo">
      <%= image_tag "logo.png" %>
    </div>
  <style>
  #nav {
    display: none;
  }
  .container {
    display: none;
  }
  </style>

  <div id="home-buttons">
    <a href="/users/new"><button class="sign-up-buttons">CREATE AN ACCOUNT</button></a>
    <a href="/login"><p class="sub-line">Already Have an Account?</p></a>
  </div>
<% end %>
</div>
