<!DOCTYPE html>
<html>
<head>
  <title>PlusOne</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Figaro.env.google_maps_api}" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="nav">
  <% if current_user %>
    <%= link_to 'Logout', :logout, method: :post %>
    <%= link_to 'Start a Hangout', new_event_path %>
    <%= link_to 'Hangouts', events_path %>
  <% else %>
    <%= link_to 'Sign Up', new_user_path %>
    <%= link_to 'Login', :login %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
