<!DOCTYPE html>
<html>
<head>
  <title>PlusOne</title>
  <meta charset="UTF-8">
  <meta name = "viewport" content="initial-scale=1.0", width="device-width">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3?key=#{Figaro.env.google_maps_api}" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" %>
  <script src="http://www.mattboldt.com/demos/typed-js/js/typed.custom.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>

<body class="<%= controller_name %> <%= action_name %>">


<!-- SLIDING NOTIFICATION MENU -->
 <div class="slider">
    <nav class="js-menu sliding-panel-content">
      <ul class="notifications-menu">
        <%= link_to root_path do %>
          <%= image_tag "home2.png", class: "notification-bar-logo" %>
        <% end %><hr>

        <% if current_user %>
          <li><% current_user.rsvps.each do |rsvp| %>
            <% if rsvp.status = "pending" %>
              <li>You have been accepted into <%= rsvp.event.event_name %><hr></li>
            <% else %>
              <p>No notifications for you.</p>
            <% end  %>
          <% end %>
          </li>

          <li><% current_user.created_events.each do |event| %>
            <% event.rsvps.each do |rsvp| %>
              <% if rsvp.status = "pending" %>
                <li><%= rsvp.user.username %> wants to join your event <%= rsvp.event.event_name %><br>
                  <button>Accept</button>
                  <button>Decline</button>
                <hr></li>
              <% else %>
                <p>You currently don't have any notifications</p>
              <% end  %>
            <% end %>
            <% end %>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
  <div class="js-menu-screen sliding-panel-fade-screen"></div>

<!-- MOBILE NAV -->
<div class="nav">

  <%= link_to root_path class: "home-link" do %>
    <%= image_tag("home2.png") %>
  <% end %>

  <% if current_user %>

  <%= link_to events_path do %>
    <%= image_tag("location.png") %>
  <% end %>

  <%= link_to new_event_path do %>
    <%= image_tag("plus.png") %>
  <% end %>

  <%= link_to :logout, method: :post do %>
    <%= image_tag("x.png") %>
  <% end %>

  <%= link_to user_path(current_user.id) do %>
    <%= image_tag("gear.png") %>
  <% end %>


  <span class="js-menu-trigger sliding-panel-button notification-button">
   <%= image_tag("notifications.png") %>
  <span>



  <% else %>

  <%= link_to new_user_path do %>
    <%= image_tag("signup.png") %>
  <% end %>

  <%= link_to :login do %>
    <%= image_tag("login.png") %>
  <% end %>

  <% end %>

</div>


<!-- FULLSCREEN NAV -->
<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <%= image_tag("home2.png") %>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <% if current_user %>
          <li class="nav-link"><a href="/events">Events</a></li>
          <li class="nav-link"><a href="/events/new">Start an Event</a></li>
          <li class="nav-link"><a href="<%= user_path(current_user.id) %>">Profile</a></li>
          <li class="nav-link"><%= link_to :logout, method: :post do %>
            Logout
            <% end %>
          </li>
        <% else %>

      </ul>
    </nav>
        <ul>
        <div class="logged-out-links">
          <li class="nav-link"><a href="/users/new"><strong>Sign Up</strong></a></li>
          <li class="nav-link"><a href="/login">Login</a></li>
        </div>
        </ul>
        <% end %>
    <% if current_user %>
    <div class="navigation-tools">
      <span class="js-menu-trigger sliding-panel-button notification-button">
        <a href="javascript:void(0)" class="sign-up">Notifications</a>
      </span>
    </div>
    <% end %>
  </div>
</header>








  <div class="container">
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>

  <div class="yield">
    <%= yield %>
  </div>

</body>
</html>
