<!DOCTYPE html>
<html>
<head>
  <title>PlusOne</title>
  <meta charset="UTF-8">
  <meta name = "viewport" content="initial-scale=1.0", width="device-width">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3?key=#{Figaro.env.google_maps_api}" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" %>
  <script src="http://www.mattboldt.com/demos/typed-js/js/typed.custom.js"></script>
  <%= csrf_meta_tags %>
</head>

<body class="<%= controller_name %> <%= action_name %>">

<div class="nav">

  <%= link_to root_path class: "home-link" do %>
    <%= image_tag("home.png") %>
  <% end %>

  <% if current_user %>

  <%= link_to events_path do %>
    <%= image_tag("location.png") %>
  <% end %>

  <%= link_to new_event_path do %>
    <%= image_tag("plus.png") %>
  <% end %>

  <%= link_to :logout, method: :post do %>
    <%= image_tag("x.png") %>
  <% end %>

  <%= link_to user_path(current_user.id) do %>
    <%= image_tag("gear.png") %>
  <% end %>


  <span class="js-menu-trigger sliding-panel-button notification-button">
   <%= image_tag("notifications.png") %>
  <span>

  <div class="slider">
    <nav class="js-menu sliding-panel-content">
      <ul class="notifications-menu">
        <br><li><h1>Notifications</h1></li><hr>

        <li><% current_user.rsvps.each do |rsvp| %>
          <% if rsvp.status = "pending" %>
            <li>You have been accepted into <%= rsvp.event.event_name %><hr></li>
          <% else %>
            <p>No notifications for you.</p>
          <% end  %>
        <% end %>
        </li>

        <li><% current_user.created_events.each do |event| %>
          <% event.rsvps.each do |rsvp| %>
            <% if rsvp.status = "pending" %>
              <li><%= rsvp.user.username %> wants to join your event <%= rsvp.event.event_name %><br>
                <button>Accept</button>
                <button>Decline</button>
              <hr></li>
            <% else %>
              <p>No notifications for you.</p>
            <% end  %>
          <% end %>
          <% end %>
        </li>

        <script>
        var listItems = document.getElementsByTagName("li");
        for (var i = 0; i < listItems.length; i++) {
          listItems[i].onclick = function() {this.parentNode.removeChild(this);}
        }
        </script>
      </ul>
    </nav>
  </div>
  <div class="js-menu-screen sliding-panel-fade-screen"></div>

  <% else %>

  <%= link_to new_user_path do %>
    <%= image_tag("signup.png") %>
  <% end %>

  <%= link_to :login do %>
    <%= image_tag("login.png") %>
  <% end %>

  <% end %>

</div>



  <div class="container">
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>

  <div class="yield">
    <%= yield %>
  </div>

</body>
</html>
